:root {
    --primary-bg-color: #2c3e50; /* Sötétkék-szürke */
    --secondary-bg-color: #34495e; /* Kissé világosabb sötétkék-szürke */
    --text-color: #ecf0f1; /* Világos szürke/fehér */
    --accent-color: #e74c3c; /* Élénk piros/narancs */
    --heading-font: 'Architects Daughter', cursive;
    --body-font: 'Montserrat', sans-serif;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    padding: 2rem; /* Kisebb padding */
    font-family: var(--body-font);
    background-color: var(--primary-bg-color);
    color: var(--text-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 1.6;
    min-height: 100vh;
}

header, main, footer {
    margin: 2rem 0; /* Vertikális margin, horizontális 0, mert a body már középre igazít */
    padding: 2rem;
    background-color: var(--secondary-bg-color);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    width: 90%; /* Százalékos szélesség */
    max-width: 800px; /* Maximális szélesség */
}

header {
    text-align: center;
}

h1 {
    font-family: var(--heading-font);
    color: var(--accent-color);
    margin-bottom: 1rem;
    font-size: 2.5rem; /* Nagyobb H1 */
}

h2 {
    color: var(--accent-color);
    margin-bottom: 1rem;
    padding-bottom: 0.5rem;
    border-bottom: 2px solid var(--accent-color);
    font-size: 1.8rem; /* Nagyobb H2 */
}

ul {
    margin: 1rem 0 1rem 1.5rem; /* Kicsit módosított margin */
    list-style-type: none; /* Eltávolítjuk az alapértelmezett listajelzőt */
    padding-left: 0;
}

li {
    padding: 0.5rem 0;
    border-bottom: 1px dashed #4a6278; /* Finom elválasztó */
}

li:last-child {
    border-bottom: none;
}

footer {
    text-align: center;
    font-size: 0.9rem;
}

footer ul li {
    border-bottom: none; /* Footer listáknál ne legyen elválasztó */
    display: inline-block; /* Egymás mellé kerüljenek az elemek */
    margin: 0 10px;
}
